<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-success" [routerLink]="['/restaurant', restaurantId, 'menu', menuId, 'add']" routerLinkActive="router-link-active" >
            Add
        </button>
    </div>
    <div class="col-md-3 mt-3" *ngFor="let item of itemList">
    <!-- Card -->
<mdb-card >
    <div class="view rgba-white-slight waves-light" mdbWavesEffect >
      <!-- Card img -->
      <mdb-card-img src="{{baseUrl+item.item_id.image}}" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{item.item_id.name}}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> 
          {{item.item_id.description}}
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/restaurant', restaurantId, 'menu', menuId, 'menuItem', item._id]" routerLinkActive="router-link-active" >Button</a>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
    </div>
</div>