<h2 class="text-mute">
    {{heading | uppercase}}
</h2>

<mdb-card>
    <mdb-card-body> 
      <!-- This is some text within a panel body. -->
      <form [formGroup]="smsForm" (ngSubmit)="onSubmmit()">
        <input type="hidden" formControlName="_id">
        Android Play Store Links
        <div class="row">
            <div class="md-form mb-4 col-md-6">
                <!-- <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon> -->
                <input  type="text" [formControl]="username" class="form-control"
                       mdbInput mdbValidate>
                <label for="defaultForm-email">Username</label>
                <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">
                </mdb-error>
                <mdb-success *ngIf="username.valid && (username.dirty || username.touched)">
                </mdb-success>
            </div>
    
            <div class="md-form mb-4 col-md-6">
                <!-- <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon> -->
                <input  type="text" [formControl]="password" class="form-control"
                       mdbInput mdbValidate>
                <label for="defaultForm-email">Password</label>
                <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">
                </mdb-error>
                <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">
                </mdb-success>
            </div>
    
            <div class="md-form mb-4 col-md-6">
                <!-- <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon> -->
                <input  type="text" [formControl]="countryCode" class="form-control"
                       mdbInput mdbValidate>
                <label for="defaultForm-email">Country Code</label>
                <mdb-error *ngIf="countryCode.invalid && (countryCode.dirty || countryCode.touched)">
                </mdb-error>
                <mdb-success *ngIf="countryCode.valid && (countryCode.dirty || countryCode.touched)">
                </mdb-success>
            </div>
    
            <div class="md-form mb-4 col-md-6">
                <!-- <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon> -->
                <input  type="text" [formControl]="from" class="form-control"
                       mdbInput mdbValidate>
                <label for="defaultForm-email">SMS Gateway From</label>
                <mdb-error *ngIf="from.invalid && (from.dirty || from.touched)">
                </mdb-error>
                <mdb-success *ngIf="from.valid && (from.dirty || from.touched)">
                </mdb-success>
            </div>
    
        </div>
        
        <button type="submit" mdbWavesEffect [disabled]="!smsForm.valid" class="btn btn-info  ml-0 float-right z-depth-0 my-4 waves-effect" >
            {{buttonName}}
            <i class="far fa-paper-plane ml-2"></i>
        </button>
        <!-- {{this.smsForm.value | json}} -->
      </form>
    </mdb-card-body>
  </mdb-card>